.nav__container {
  background-color: var(--secondary-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.4rem;
  border-bottom: 2px solid var(--alt-border-color);
}

.logo__container {
  display: grid;
}

.logo__container a {
  display: grid;
  align-items: center;

  padding: 0;
  margin: 0;
}

.logo__container img {
  width: 30px;
  height: 30px;
}

.links__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 100px));
  align-items: center;
  justify-content: end;
}

.links__container a {
  color: var(--font-color-secondary);
  text-decoration: none;
}
.links__container a:hover {
  color: var(--nav-hover);
}
