:root {
  --border-radius-sm: 4px;
  --product-border-color: #172121;
  --main-bg: #172121;
  --secondary-bg: #7f7b82;
  --color-1: #444554;
  --color-2: #e5d0cc;
  --alt-bg: #bfacb5;
  --font-color-main: #000;
  --font-color-secondary: #ffffff;
  --nav-hover: #bfacb5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
