:root {
  --border-radius-sm: 4px;

  --main-bg: #172121;
  --secondary-bg: #7f7b82;
  --menu-bg: #172121;
  --alt-bg: #bfacb5;
  --product-bg: #bfacb5;
  --glowing-bg: #d80668;
  --translucent-bg: #1721214f;

  --container-border-color: #bfacb5;
  --product-border-color: #172121;
  --alt-border-color: #7f7b82;
  --glowing-border-color: #f3df2f;

  --font-color-main: #000;
  --font-color-secondary: #ffffff;
  --font-color-alt: ;
  --font-hover-color: ;
  --font-nav-hover-color: #bfacb5;

  --color-1: #444554;
  --color-2: #e5d0cc;

  --border-thickness-sm: 3px;
  --border-thickness-md: 5px;
  --border-thickness-md: 8px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
