.mainMenu__container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow-y: hidden;
  background: var(--menu-bg);
}

.mainMenu__container::-webkit-scrollbar, .menu__container::-webkit-scrollbar {
  display: none;
}

/* Titles */
.menu__title__container {
  color: var(--font-color-main);
  display: grid;
  place-content: center;
  background-color: var(--secondary-bg);
  border: 5px solid var(--container-border-color);
  border-radius: 4px;
}

.menu__title__container h2 {
  padding: 0;
  margin: 0;
  width: fit-content;
}

.product__data__main {
  display: grid;
  color: var(--font-color-secondary);
}

.product__data__main h6 {
  padding: 0;
  margin: 0;
}

/* Items List Start */
.menu__container {
  display: grid;
  gap: 0.2rem;
  padding: 0.2rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}



.product {
  border: 3px solid var(--product-border-color);
  border-radius: 8px;
  padding: 0.2rem;
  background-color: var(--product-bg);
  color: var(--font-color-main);
  display: grid;
  gap: 2px;
}

.inner__product {
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  padding: 0.1rem;
  display: grid;
  gap: 5px;
  grid-template-columns: 50px 1fr 60px;
}

.image__icon {
  width: 50px;
  height: 50px;
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.product__data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product__data > * {
  display: grid;
}

.product__data > * h6 {
  padding: 0;
  margin: 0;
  font-size: 0.5rem;
}

.product__data > * span {
  font-size: 0.6rem;
}

.product__desc {
  font-size: 0.55rem;
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  padding: 0.1rem;
  font-weight: 500;
}

.purchase__product {
  display: grid;
  height: auto;
}
.product__owned {
  height: auto;
  display: grid;
}
.product__owned h6 {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.product__owned span {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.buy__btn {
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
}
