.menu__container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow-y: hidden;
  background: var(--menu-bg);
}

/* Titles */
.menu__title__container {
  color: var(--font-color-main);
  display: grid;
  place-content: center;
  background-color: var(--secondary-bg);
  border: 5px solid var(--container-border-color);
  border-radius: 4px;
}

.menu__title__container h2 {
  padding: 0;
  margin: 0;
  width: fit-content;
}

.product__deltaV {
  display: grid;
  color: var(--font-color-secondary);
}
.product__deltaV h6 {
  padding: 0;
  margin: 0;
}
/* Items List Start */
.menu__container {
  display: grid;
  gap: 0.2rem;
  padding: 0.2rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.product {
  border: 3px solid var(--product-border-color);
  border-radius: 8px;
  padding: 0.2rem;
  background-color: var(--product-bg);
  color: var(--font-color-main);
  display: grid;
  gap: 2px;
}

.inner__product {
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  padding: 0.1rem;
  display: grid;
  gap: 5px;
  grid-template-columns: 50px 1fr 60px;
}

.image__icon {
  width: 50px;
  height: 50px;
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.product__data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product__data > * {
  display: grid;
}

.product__data > * h6 {
  padding: 0;
  margin: 0;
  font-size: 0.5rem;
}

.product__data > * span {
  font-size: 0.5rem;
}

.product__desc {
  font-size: 0.5rem;
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  padding: 0.1rem;
}

.purchase__product {
  display: grid;
  height: auto;
}
.product__owned {
  height: auto;
  display: grid;
}
.product__owned h6 {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.product__owned span {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.purchase__product button {
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
