.mainMenu__container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.55);
}

.mainMenu__container::-webkit-scrollbar,
.menu__container::-webkit-scrollbar {
  display: none;
}

/* Titles */
.titles__holder {
  padding: 0.3rem;
}

.menu__title__container {
  color: var(--font-color-main);
  display: grid;
  place-content: center;
  background-color: var(--product-bg);
  border: 5px solid var(--container-border-color);
  border-radius: 4px;
}

.menu__title__container h2 {
  padding: 0;
  margin: 0;
  width: fit-content;
}

.product__data__main {
  display: grid;
  padding: 0 1rem;
  color: var(--font-color-secondary);
}

.product__data__main h6 {
  padding: 0;
  margin: 0;
}

/* Items List Start */
.menu__container {
  display: grid;
  gap: 0.15rem;
  padding: 0.3rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  font-weight: 700;

}

.product {
  border: 3px solid var(--product-border-color);
  border-radius: 8px;
  padding: 0.2rem;
  background-color: var(--product-bg);
  color: var(--font-color-main);
  display: grid;
  gap: 2px;
  line-height: 1;
}

.inner__product {
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  padding: 0.1rem;
  display: grid;
  gap: 5px;
  grid-template-columns: auto 1fr 1fr;
}

.image__icon {
  width: 50px;
  height: 50px;
  /* border: 2px solid var(--product-border-color); */
  border-radius: 4px;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.product__data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3px 5px;
}

.product__data > * {
  display: grid;
  text-align: start;
}

.product__data > * h6 {
  padding: 0;
  margin: 0;
  font-size: 0.5rem;
}

.product__data > * span {
  font-size: 0.6rem;
}

.product__desc {
  font-size: 0.55rem;
  border: 2px solid var(--product-border-color);
  border-radius: 4px;
  padding: 0.1rem;
}

.purchase__product {
  display: grid;
  height: auto;
}
.product__owned {
  height: auto;
  display: grid;
}
.product__owned h6 {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.product__owned span {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.buy__amount {
  display: grid;
  height: auto;
  grid-template-rows: auto auto;
}

.owned__quantity {
  display: grid;
}
