.homepage__container {
    background-color: #172121;
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.game__container {
    display: grid;
    grid-template-columns: 0.8fr 2fr 0.8fr;
    overflow: hidden;
    border-top: 2px solid #172121;
    border-bottom: 2px solid #172121;
}

.main__game {
    display: grid;
    grid-template-rows: 1fr auto auto 100px;
    gap: 5px;
    overflow: hidden;
    border: 5px solid black;
    padding: 0.4rem;
}

.clicker__container {
}

.scoresDisplay__container {
}

.playerData__container {
}