.homepage__container {
    background-color: lightpink;
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 100px;
}

.game__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}