.admin__panel__container {
    background-color: white;
    /* height: 400px;
    width: 200px; */
    position: fixed;
    bottom: 0;
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}