.scroll__container {
    background-color: var(--alt-bg);
    color: var(--font-color-main);
    border-top: var(--border-thickness-sm) solid var(--alt-border-color);
    border-bottom: var(--border-thickness-sm) solid var(--alt-border-color);
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
}