.itemMenu__container {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 5px solid green;
  overflow-y: hidden;
}

/* Titles */
.item__title__container {
  color: white;
  background-color: black;
  border: 2px solid black;
  display: grid;
  place-content: center;
}
.item__title__container h2 {
  padding: 0;
  margin: 0;
  background-color: red;
  width: fit-content;
}

/* Items List Start */
.items__container {
  display: grid;
  gap: 0.2rem;
  padding: 0.2rem;
  background-color: yellow;
  overflow: scroll;
  padding-bottom: 3rem;
}

.item {
  border: 2px solid green;
  border-radius: 10px;
  padding: 0.2rem;
  background-color: white;
  display: grid;
  gap: 2px;
}

.inner__item {
  border: 2px solid red;
  border-radius: 4px;
  padding: 0.1rem;
  display: grid;
  gap: 5px;
  grid-template-columns: 50px 1fr 60px;
}

.image__icon {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 4px;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.item__data {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item__data > * {
  display: grid;
  place-content: center;
  justify-content: center;
}

.desc {
  font-size: 0.5rem;
  border: 2px solid red;
  border-radius: 4px;
  padding: 0.1rem;
}

