.itemMenu__container {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: hidden;
}

/* Titles */
.item__title__container {
  color: white;
  display: grid;
  place-content: center;
}

.item__title__container h2 {
  padding: 0;
  margin: 0;
  width: fit-content;
}

/* Items List Start */
.items__container {
  display: grid;
  gap: 0.2rem;
  padding: 0.2rem;
  padding-bottom: 3rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.item {
  border: 2px solid #172121;
  border-radius: 10px;
  padding: 0.2rem;
  background-color: #7F7B82;
  display: grid;
  gap: 2px;
}

.inner__item {
  border: 2px solid #172121;
  border-radius: 4px;
  padding: 0.1rem;
  display: grid;
  gap: 5px;
  grid-template-columns: 50px 1fr 60px;
}

.image__icon {
  width: 50px;
  height: 50px;
  border: 2px solid #172121;
  border-radius: 4px;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.item__data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item__data > * {
  display: grid;
}

.item__data > * h6 {
padding: 0;
margin: 0;
font-size: 0.5rem;
}

.item__data > * span {
font-size: 0.5rem;
}

.desc {
  font-size: 0.5rem;
  border: 2px solid #172121;
  border-radius: 4px;
  padding: 0.1rem;
}

.purchase__item {
  display: grid;
  height: auto;
}
.owned {
  height: auto;
  display: grid;
}
.owned h6 {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.owned span {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
}

.buy__btn {
}

.purchase__item button {
  width: 100%;
  text-transform: uppercase;
}