.game__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: lightgreen;
    gap: 1rem;
    overflow: hidden;
}

.dataMenu__container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}