.gamePage__container {
    overflow: hidden;

    display: grid;
    grid-template-rows: auto 1fr;
    border: 2px solid blue;
}

.game__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: lightgreen;
    gap: 1rem;
    overflow: hidden;

}