.gameProduction__data__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: red;
}

.gameProduction__data {
    display: grid;
    grid-template-columns: auto 1fr;
}
.data__info {
}
.data__image {
    padding: 0.2rem;
    height: auto;
}

.gameProduction__icon {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border: 2px solid var(--product-border-color);
    border-radius: var(--border-radius-sm);
}

.data__info h6 {
    padding: 0;
    margin: 0;
}

.data__info span {
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
}

.data__info > * {
    padding: 0;
    margin: 0;
    display: grid;
    height: auto;
}