.scoresDisplay__container {
  display: grid;
  background-color: var(--alt-bg);
  border: 3px solid var(--container-border-color);
  padding: 0.2rem;
  line-height: 1;
}

.scores__container {
  display: grid;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}

.score__container {
  border: 2px solid var(--container-border-color);
  display: grid; 
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 0.2rem;
  color: var(--font-color-secondary);
}

 