
.completed__containerx {
    background-color: gold;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    padding: 1rem;
}

.completed__titles {
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.stars__container {
    font-size: 3rem;
}

.tweet__container {
    display: grid;
    place-content: center;
}

.twitter__button {
    background-color: var(--twitter-blue);
    border-radius: 20px;
    padding: 1rem;
    font-size: 1rem;
    color: var(--font-color-secondary);
    cursor: pointer;

}

.twitter__button:hover {
    filter: brightness(1.2);
}

.rewards__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.general__rewards, .twitterBonus__rewards {
    border: 2px solid var(--product-border-color);

}

.close__container {
    display: grid;
}
