.level__data__container {
    background: var(--nav-bg);
    border: 3px solid var(--product-border-color);

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    position: absolute;
    top: 10px;
    left: 10px;

    color: var(--font-color-white);
    padding: 1rem 2rem;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    font-weight: 700;
}

.level__image {
    display: grid;
    justify-content: center;
}