.level__data__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: red;
}

.level__data__container h6 {
    padding: 0;
    margin: 0;
}

.levelImg__container img {
    width: 40px;
    height: 40px;
}

.level__data span {
    font-size: 0.5rem;
}

.level__data h6 {
    padding: 0;
    margin: 0;
}