.level__data__container {
    background: var(--translucent-bg);
    border: 3px solid var(--product-border-color);

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0.5rem;
}

.level__image {
    display: grid;
    justify-content: center;
}