.clicker__container {
  border: 3px solid red;
  background-color: lightblue;
  position: relative;
  display: grid;
}

.clicker__section {
  border: 2px solid white;
  display: grid;
  place-content: center;
}

.special__container {
  position: absolute;
  right: 0;
  top: 30px;
  display: grid;
  gap: 5px;
}

.special__link {
    border: 2px solid yellow;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0.4rem 1.6rem;
    font-size: 1.4rem;
}

.special__link:hover {
    background-color: aquamarine;
    border-color: blue;
}

.bonus {
}
.achievements {
}
