.clicker__bg {
  display: grid;
  background: var(--radial-bg);
  position: relative;
}

/* Hidden phone score */
.phone__score__container, .phone__clicker__section {
  display: none;
}


canvas {
  background: rgba(166, 166, 166, 0.34);
  position: absolute;
  z-index: 2;
}

.clicker__section {
  display: grid;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  z-index: 10;
}



.special__container {
  position: absolute;
  right: 0;
  top: 30px;
  display: grid;
  gap: 5px;
}

.special__link {
  border-top: 3px solid var(--alt-border-color);
  border-left: 3px solid var(--alt-border-color);
  border-bottom: 3px solid var(--alt-border-color);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  font-size: 1.1rem;
  display: grid;
  justify-content: flex-end;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #00bf8f 0%,
    #001510 51%,
    #00bf8f 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 2px #eeeeee9b;
  display: block;
}


/* Alt link */
.completeAcheive__link {
  border-top: 3px solid var(--glowing-border-color);
  border-left: 3px solid var(--glowing-border-color);
  border-bottom: 3px solid var(--glowing-border-color);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  font-size: 1.1rem;
  display: grid;
  justify-content: flex-end;
  background-color: var(--glowing-bg);
  animation: swell 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes swell {
  50% {
    scale: 1.2;
  }
}

.glowing__container {
  border-top: 3px solid red;
  border-left: 3px solid red;
  border-bottom: 3px solid red;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  font-size: 1.1rem;
  display: grid;
  justify-content: flex-end;
  background-color: yellow;
}

@media screen and (max-width: 800px) {
  .clicker__container {
    display: grid;
  }
  .clicker__section {
    display: none;
  }
  .phone__clicker__section {
    display: grid;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    z-index: 10;
  }
  /* Hidden phone score */
  .phone__score__container {
    display: block;
    height: 50px;
  }
  .level__data__container {
    top: 60px;
  }
  .special__container {
    top: 60px;
  }
}
