.achievements__container {
    border: 3px solid black;
    background-color: var(--alt-bg);
    display: grid;
    grid-template-rows: 1fr;
    z-index: 2;
    position: fixed;
    padding: 0.5rem;
}

.achievement {
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 50px;
}

.completed__container {
    border: 3px solid black;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr;
    z-index: 3;
    padding: 0.5rem;
}

.achieve__completed {
    display: grid;
    place-content: center;
}