.product__container {
  -webkit-box-shadow: 0.2px 0.2px 1px #bfacb5, -0.2px -0.2px 1px #bfacb5;
  background: linear-gradient(145deg, #ffffff, #bfacb5);
  box-shadow: 0.2px 0.2px 1px #bfacb5, -0.2px -0.2px 1px #585154;
}

.main__bg__gradient {
  background: linear-gradient(
    137deg,
    rgba(11, 97, 3, 1) 7%,
    rgba(41, 138, 36, 1) 10%,
    rgba(34, 52, 52, 1) 20%,
    rgba(41, 161, 30, 1) 22%,
    rgba(38, 114, 31, 1) 23%,
    rgba(34, 52, 52, 1) 26%,
    rgba(20, 89, 18, 1) 46%,
    rgba(68, 133, 62, 1) 49%,
    rgba(23, 73, 29, 1) 52%,
    rgba(34, 52, 52, 1) 53%,
    rgba(68, 133, 62, 1) 55%,
    rgba(41, 70, 54, 1) 58%,
    rgba(41, 161, 30, 1) 66%,
    rgba(11, 97, 3, 1) 75%,
    rgba(34, 52, 52, 1) 94%,
    rgba(234, 240, 235, 1) 96%,
    rgba(11, 97, 3, 1) 100%
  );
}

.blue__bg {
  background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 5%,
    rgba(0, 212, 255, 1) 30%,
    rgba(9, 9, 121, 1) 73%,
    rgba(2, 0, 36, 1) 92%
  );
}
.clicker__container {
  border: 3px solid var(--container-border-color);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  position: relative;
  display: grid;
  z-index: 1;
}

.clicker__section {
  display: grid;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 10;
}

.special__link {
  border-top: 3px solid var(--alt-border-color);
  border-left: 3px solid var(--alt-border-color);
  border-bottom: 3px solid var(--alt-border-color);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  font-size: 1.1rem;
  display: grid;
  justify-content: flex-end;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #00bf8f 0%,
    #001510 51%,
    #00bf8f 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 2px #eeeeee9b;
  display: block;
  z-index: 10;
}

.completed__container {
  background: rgb(34,195,161);
  background: linear-gradient(0deg, rgba(34,195,161,1) 0%, rgba(253,231,45,1) 51%);
}

.special__link:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.clicker__section img,
.phone__clicker__section img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.clicker__section img:hover,
.phone__clicker__section img:hover {
  scale: 1.2;
  filter: brightness(1.2);
  background: transparent;
}

.clicker__section img:active,
.phone__clicker__section img:active {
  scale: 0.5;
  filter: brightness(0.5);
  background: transparent;
}
